li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
.bar{
    display: none;
}
.jbtn{
    background-color: blue;
    margin-left: 100px;
    color: white;
    font-family:Nunito ;
    font-weight: bold;
}
.jbtn:hover{
    background-color: rgb(4, 4, 119);
}
h1,h2,h3,h4,h5,h6,a,li,.jbtn{
    font-family: Nunito;
}
.drop-down{
    position: relative;
    cursor: pointer;
    user-select: none;
}
.drop-down-menu{
 position: absolute;
 top: 45px;
 border-radius: 3px;
 border: 1px solid black;
 background-color: #fff;
 padding: 5px 0px;
 font-weight: lighter;
 li{
    padding: 2px 5px;
 } 
 li:hover{
    background-color: rgba(0, 0, 0, 0.099);
 }
}
.bar-high{
    height: 60px;
    transition: all .5s ease-in-out;
}
.ddhide{
    display: none;
}
.ddshow{
    display: block;
}
.logo-img{
    width: 50px;
    height: 50px;
}
h1{
    font-weight: bold !important;
}
.font-handle{
    font-family: Handlee;
    font-weight: 900;
    color: black;
}
.border-right {
    border-right: 1px solid #dee2e6 !important; 
}